html, body {
  height: 100%;
  width: 100%;
}

.a-lan {
  text-decoration: none;
}

.icon {
  margin: 8px;
  float: right;
}

.icon-r {
  margin: 8px;
  float: right;
  filter: invert(1);
}

.mark {
  float: right;
}

.mark-a {
  text-decoration: none;
}

.section {
  padding: 13px;
}

.text-cont {
  text-align: center; !important
}

.section {
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  filter: invert(1);
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg); }
   10% { transform: rotate(-10.0deg); }
   20% { transform: rotate( 12.0deg); }
   30% { transform: rotate(-10.0deg); }
   40% { transform: rotate(  9.0deg); }
   50% { transform: rotate(  0.0deg); }
  100% { transform: rotate(  0.0deg); }
}